streamlit>=1.38.0
earthengine-api>=0.1.398
geemap>=0.37.0
geopandas>=1.1.0
shapely>=2.1.0
rasterio>=1.5.0
rtree>=1.4.0
numpy>=2.0.0
pandas>=2.3.0
matplotlib>=3.10.0
folium>=0.16.0
branca>=0.7.0
streamlit-folium>=0.18.0
python-docx>=1.2.0
geojson>=3.2.0
requests>=2.32.0
contextily>=1.7.0
scipy>=1.17.0
