streamlit
geopandas
pandas
numpy
shapely
requests
python-docx
earthengine-api
folium
streamlit-folium
simplekml
fiona
pyproj
rtree
fastkml 
matplotlib
xlsxwriter
opencv-python
ultralytics
scikit-learn
scipy
plotly
torch
torchvision
geojson
contextily
